<!DOCTYPE html>
<html>
<head>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
            * {box-sizing: border-box}
            * {background-color: lightblue} 
        button {
            background-color: #04AA6D;
            color: white;
            padding: 20px 0px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 200px;
            opacity: 0.9;
        }
        .container {
            padding: 100px;
            color: green;
            text-align: center;
        }
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }
    </style>
</head>

<body>

    
        <div class="container">

        <h1>Sign UP / Sign IN</h1>
        <hr>

        <a href="http://localhost:3000/signup">
            <button>Sign Up</button>
        </a>        
            
        <div>
            <a href="http://localhost:3000/signin">
                <button>Sign In</button>
            </a>
        </div>
        </div>

</body>
</html>